/*                                     Author: Ing Carlos Allen                                   */
/*                                   https://github.com/CarlosAllen93                            */
/*                                 contact : allencarlosDev@gmail.com                           */

/* color variables */
:root {
    --background-header: #080808;
    --bar: rgba(150, 150, 150, 0.4);
    --bar-menu: red;
    --btn-contact: #ff4655;
    --background-body: #ece8e1;
    --background-video: #0f1923;
}

/* container */
.container {
    background-color: var(--background-body);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bar__container {
    z-index: 99;
    height: 100%;
    margin-left: 100px;
    grid-column: 1/2;
    grid-row: 1/3;
    border-left: 2px solid var(--bar);
}

/* header section */
.header {
    display: grid;
    position: fixed;
    z-index: 1000;
    width: 100%;
    grid-template-columns: repeat(12 ,1fr);
    align-items: center;
    background-color:var(--background-header);
}

.header-logo {
    position: relative;
    width: 80px;
    height: 80px;
    grid-column: 2/3;
}

.header-logo__img {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin:auto;
    width: 50px;
    height: 50px;
}

.header-logo__img--2 {
    opacity: 0;
    transition: 0.5s;
}

.header-logo__img--2:hover {
    opacity: 1;
}

.bar {
    grid-column: 3/4;
    height: 30px;
    border-left: 2px solid var(--bar);
}

.menu {
    grid-column: 4/10;
}

.menu-header {
    display: flex;
    justify-content: space-around;
}

.menu-header__item {
    position: relative;
    width: 100px;
    text-align: center;
}

.menu-header__item::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--bar-menu);
    border-radius: 5px;
    transform: scale(0, 1);
}

.menu-header__item:hover::after {
    transform: scale(1, 1);
}

.header-contact {
    grid-column: 11/12;
}

.header-contact__btn {
    display: block;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    background-color: var(--btn-contact);
}

/* Main */
.main {
    grid-column: 1/13;
    grid-row: 1/2;
}
/* Home */
.home {
    display: grid;
    height: 630px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px repeat(11, 1fr);
    background-color: var(--background-video);
}

.home__video {
    z-index: 10;
    height: 550px;
    grid-column: 1/13;
    grid-row: 2/13;
}

.home__logo {
    display: block;
    z-index: 80;
    min-width: 600px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 4/10;
    grid-row: 5/7;
}

.home__btn {
    display: block;
    z-index: 90;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 80px;
    grid-column: 5/9;
    grid-row: 8/9;
    text-align: center;
    background-color: var(--btn-contact);
    outline: 1px solid var(--bar);
    outline-offset: 5px;
}

.bar__home {
    z-index: 100;
    height: 100%;
    grid-column: 4/5;
    grid-row: 1/13;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid var(--bar);
}

.bar__home--right {
    grid-column: 11/12;
    grid-row: 1/13;
}
